.search-buttons {
    display: flex;
    flex-wrap: wrap
}

.search-buttons .btn {
    width: 115px;
    border-radius: 15px;
    height: 50px;
    border: 2px solid black;
    color: black;
    background-color: transparent;
}
.search-buttons .active {
    background-color: black;
    color: white;
    
  }